@font-face{font-family:"Bricolage Grotesque";font-weight:700;src:url(fonts/BricolageGrotesque-700.ttf) format("truetype")}
@font-face{font-family:"Bricolage Grotesque";font-weight:800;src:url(fonts/BricolageGrotesque-800.ttf) format("truetype")}
@font-face{font-family:"Geist";font-weight:400;src:url(fonts/Geist-400.ttf) format("truetype")}
@font-face{font-family:"Geist";font-weight:500;src:url(fonts/Geist-500.ttf) format("truetype")}
@font-face{font-family:"Geist";font-weight:600;src:url(fonts/Geist-600.ttf) format("truetype")}
@font-face{font-family:"Geist Mono";font-weight:500;src:url(fonts/GeistMono-500.ttf) format("truetype")}
